VITE_SUPABASE_URL=https://uqkomqdpvovtmmycjfsb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVxa29tcWRwdm92dG1teWNqZnNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc5OTE2NTMsImV4cCI6MjEwMzU2NzY1M30.CUkKbMWhS_k11gCksQask0rgu3webYXg2-e9Mevguro